@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Flavor

<h2>Are you sure you want to delete this flavor?</h2>
<hr />
@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
<hr />
<p>@Html.ActionLink("Cancel delete and return to flavor", "Details", new {id = Model.FlavorId})</p>
<p>@Html.ActionLink("Cancel delete and return to index", "Index")</p>